html, body {
  height: 100%;
  margin: 0;
}

.page-body-wrapper.full-page-wrapper .main-panel {
  padding-top: 0 !important;
  min-height: 100vh !important;
}

.content-wrapper.full-page-wrapper.auth {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #2ecc71, #1abc9c) !important;
  position: relative;
}

.content-wrapper.full-page-wrapper.auth::before,
.auth::before {
  display: none !important;
}
